<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To Do List</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
</head>

<body>

	<div class="box" id="heading">
		<h1>
			Планы на <%= kindOfDay %>
		</h1>
	</div>

	<div class="box">
		<% for(var i=0;i<newListItems.length;i++) { %>
			<div class="item">
				<input type="checkbox">
				<p>
					<%= newListItems[i] %>
				</p>
			</div>
			<% } %>

				<form action="/to-do-list" method="POST">
					<input type="text" name="newItem" placeholder="Введите новое дело!" autocomplete="off">
					<button type="submit">+</button>
				</form>
	</div>



</body>

</html>